

    <div class="haut"></div>
    <div class="milieu"></div>
    <div class="bas"></div>

    <div id="map-hex">
        <div class="hex-row">
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
        </div>
        <div class="hex-row even">
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
        </div>
        <div class="hex-row">
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
        </div>
        <div class="hex-row even">
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>

        </div>
    </div>

<style>
    .down-neo {
        padding: 20px 30px;
        margin: 40px auto;
        border-radius: 25px;
        background: #fafafa;
        box-shadow: inset 5px 5px 10px #d5d5d5,
                    inset -5px -5px 10px #ffffff;
    }
    /* Hexagone */
    .haut {
        width: 0;
        border-bottom: 30px solid #6C6;
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
        box-shadow:  5px 5px 10px #57ad57,
                    -5px -5px 10px #75eb75;
    }
    .milieu {
        width: 104px;
        height: 60px;
        background-color: #6C6;
        background: #66CC66;
        box-shadow:  5px 5px 10px #57ad57,
                    -5px -5px 10px #75eb75;
    }
    .bas {
        width: 0;
        border-top: 30px solid #6C6;
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
        box-shadow:  5px 5px 10px #57ad57,
                    -5px -5px 10px #75eb75;
    }

</style>