<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page HTML</title>
    <!-- Appel de la feuille de style -->
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <!-- Appel du fichier de code Javascript -->
    <script type= "text/javascript" src="script.js"></script>
</head>
<body>
    <div class="up-neo">
        <h1>Terraformation</h1>
    </div>
    <div class="down-neo">
        <h1>Hello World !</h1>
        <p>Ceci est un paragraphe.</p>
    </div>
</body>
</html>