<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page HTML</title>
    <!-- Appel de la feuille de style -->
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <!-- Appel du fichier de code Javascript -->
    <script type= "text/javascript" src="script.js"></script>
</head>
<body>
    <div class="up-neo">
        <h1>Terraformation</h1>
    </div>
    <div class="up-neo">
        <h1 class="titre-rouge">Hello World !</h1>
        <p>Ceci est un paragraphe. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales odio dui, a ornare tortor condimentum vitae. Quisque eleifend ex commodo nisl tincidunt ullamcorper. Integer urna dui, pretium eu pulvinar ut, euismod sit amet mauris. Fusce vitae enim rutrum, dignissim urna a, pretium tellus. Quisque auctor vulputate dui quis iaculis.</p>
        <p>Fusce vel metus iaculis, iaculis lorem non, pharetra dui. Vivamus mauris quam, maximus cursus urna eget, consectetur cursus augue. Phasellus non volutpat risus, tristique feugiat orci. Cras nunc est, laoreet at neque nec, mattis pulvinar purus. Pellentesque ut felis eleifend, iaculis urna in, elementum nulla. Suspendisse tincidunt augue eu lacinia fringilla. </p>
    </div>

    <div class="haut"></div>
    <div class="milieu"></div>
    <div class="bas"></div>

    <div id="map-hex">
        <div class="hex-row">
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
        </div>
        <div class="hex-row even">
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
        </div>
        <div class="hex-row">
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
        </div>
        <div class="hex-row even">
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
            <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>

        </div>
    </div>

</body>
</html>