body {
    background-color: #fafafa;
    color: #555555;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.neo {

    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 50px;
    background: #fafafa;
    box-shadow:  5px 5px 10px #d5d5d5,
                 -5px -5px 10px #ffffff;

}
.neo h1 {
    text-align: center;
}
div#buttons {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
button {
    /* border: none; */
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 50px;
    background: linear-gradient(145deg, #ffffff, #e1e1e1);
    box-shadow:  10px 10px 20px #c8c8c8,
                -10px -10px 20px #ffffff;
}
.titre-rouge {
    color: red;
}

/* Map hexagonale */
.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hex .top {
    width: 0;
    border-bottom: 30px solid green;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: green;
}
.hex .bottom {
    width: 0;
    border-top: 30px solid green;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 53px;
}