body {
    background-color: #F8F8FF;
}
h1 {
    color: red;
}
.neo {
    max-width: 100px;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}